apiVersion: v1
kind: Service
metadata:
  name: helloworldservice
  namespace: dev
spec:
  type: LoadBalancer
  selector:
    app: helloworld
  ports:
    - protocol: TCP
      port: 8098
      targetPort: 8098